*{
  box-sizing: border-box;
}
body{
  color: #222;
}
img{
  max-width: 100%;
}
main{
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}
a {
  cursor: pointer;
}

header{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
  align-items: center;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a.logo{
  font-weight: bold;
}

header nav{
  display: flex;
  gap: 15px;
}

div.post{
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 20px;
  margin-bottom: 30px;
  background-color: #eee;
  padding: 5px;
}

div.post div.image{
  width: auto;
}

div.post div.contents h2{
  margin: 0;
  font-size: 1.8rem;
}

div.post div.contents a{
  text-decoration: none;
  color: inherit;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button{
  width: 100%;
  display: block;
  background-color: #555;
  border: 0px;
  color: #fff;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
}

form.login form.register h1{
  text-align: center;
}

div.post-page div.image{
  max-height: 300px;
  display: flex;
  overflow: hidden;
}

div.post-page div.image img{
  object-fit:cover;
  object-position: center center;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

div.post-page h1 {
  text-align: center;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  color: #aaa;
  margin-bottom: 10px;
}

div.post-page div.content p {
  line-height: 1.6rem;
}

div.edit-row{
  text-align: center;
}

div.post-page a.edit-btn{
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
}